#dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "left-top mid right-top"
    "left-bot mid right-bot";
  transition: all 0.4s;
  text-align: center;
  align-items: center;
}

.left-top {
  grid-area: left-top;
  align-self: flex-end;
}

.left-bot {
  grid-area: left-bot;
  align-self: flex-start;
}

.mid {
  grid-area: mid;
  background-color: bisque;
}

.right-top {
  grid-area: right-top;
  align-self: flex-end;
}

.right-bot {
  grid-area: right-bot;
  align-self: flex-start;
}

@media (max-width: 1000px) {
  #dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "mid"
      "left-top"
      "left-bot"
      "right-top"
      "right-bot";
  }
}
