#shot-chart-container {
  /* backgroundImage: `url(${imgUrl})`; */
  background-repeat: "no-repeat";
  margin: 50px auto;
  background-color: #2b2d2f;
  box-shadow: 0 0 90px -20px rgba(0, 0, 0, 0.25);
}
