#shot-chart-container {
  width: max-content;
  box-shadow: 0 0 90px -20px rgba(0, 0, 0, 0.35);
  background-color: #2b2d2f;
  border-radius: 30px;
  margin: 30px auto;
  padding: 30px;
}

#spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
  background-color: #000;
  opacity: 0.8
}

#spinner {
  opacity: 1;
  width: 12rem;
  height: 12rem;
}

@media only screen and (max-width: 600px) {
  #shot-chart-container {
    padding: 0;
  }
}
