#selection-bar {
    margin: 30px auto;
    text-align: center;
    width: 80%;
    /* display: inline-block; */
  }
  
  .form-group {
    display: inline-block;
    width: 10rem;
    margin: auto 5px;
  }
  