#selection-bar {
  margin: 20px auto;
  text-align: center;
  width: 80%;
}

#selection-bar > .form-group {
  display: inline-block;
  width: 10rem;
  margin: 15px 5px;
}

#lag-note {
  text-align: center;
  padding: 0 10px;
}

#selection-bar button {
  margin: 15px auto;
  display: block;
  border-radius: 50px;
}

@media only screen and (max-width: 600px) {
  #selection-bar {
    width: 90%;
  }
  #selection-bar > .form-group {
    display: inline-block;
    width: auto;
    margin: 5px;
  }
}
