#selection-bar {
  margin: 30px auto;
  text-align: center;
  width: 80%;
  /* display: inline-block; */
}

#selection-bar > .form-group {
  display: inline-block;
  width: 10rem;
  margin: 15px 5px;
}
