#selection-bar {
  margin: 20px auto;
  text-align: center;
  width: 80%;
}

#selection-bar > .form-group {
  display: inline-block;
  width: 10rem;
  margin: 15px 5px;
}

#lag-note {
  text-align: center;
}
